<div class="container font-sans bg-green-100 rounded my-8 p-4 md:p-24 text-center">
    <div class="sliderAx h-auto">
        <div id="slider-1" class="container mx-auto">
            <div class="bg-cover bg-center  h-auto text-white py-24 px-10 object-fill"
                 style="background-image: url(https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
                <div class="md:w-1/2">
                    <p class="font-bold text-sm uppercase">
                        {{ 'app.home.Services'|trans }}
                    </p>
                    <p class="text-3xl font-bold">
                        {{ 'app.home.Online Shop'|trans }}
                    </p>
                    <p class="text-2xl mb-10 leading-none">
                        {{ 'app.home.Access everything you need right now'|trans }}
                    </p>
                    <a href="{{ path('shop') }}"
                       class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-600 hover:text-gray-800">
                        {{ 'app.home.Go Shopping'|trans }}
                    </a>
                </div>
            </div>
            <br>
        </div>

        <div id="slider-2" class="container mx-auto">
            <div class="bg-cover bg-top  h-auto text-white py-24 px-10 object-fill"
                 style="background-image: url(https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
                <p class="font-bold text-sm uppercase">
                    {{ 'app.home.Services'|trans }}
                </p>
                <p class="text-3xl font-bold">
                    {{ 'app.home.Want to be a partner'|trans }}
                    ?</p>
                <p class="text-2xl mb-10 leading-none">
                    {{ 'app.home.Develop your local business'|trans }}
                </p>
                <a href="{{ path('contact') }}"
                   class="bg-purple-800 py-4 px-8 text-white font-bold uppercase text-xs rounded hover:bg-gray-600 hover:text-gray-800">
                    {{ 'app.home.Contact us'|trans }}
                </a>

            </div> <!-- container -->
            <br>
        </div>
    </div>
    <div class="flex justify-between w-12 mx-auto pb-2">
        <button id="sButton1" onclick="sliderButton1()" class="bg-purple-400 rounded-full w-4 pb-2 "></button>
        <button id="sButton2" onclick="sliderButton2() " class="bg-purple-400 rounded-full w-4 p-2"></button>
    </div>

</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script>
    let cont = 0;
    let xx;

    function loopSlider() {
        xx = setInterval(function () {
            switch (cont) {
                case 0: {
                    $("#slider-1").fadeOut(400);
                    $("#slider-2").delay(400).fadeIn(400);
                    $("#sButton1").removeClass("bg-purple-800");
                    $("#sButton2").addClass("bg-purple-800");
                    cont = 1;

                    break;
                }
                case 1: {

                    $("#slider-2").fadeOut(400);
                    $("#slider-1").delay(400).fadeIn(400);
                    $("#sButton2").removeClass("bg-purple-800");
                    $("#sButton1").addClass("bg-purple-800");

                    cont = 0;

                    break;
                }
            }
        }, 4000);

    }

    function reinitLoop(time) {
        clearInterval(xx);
        setTimeout(loopSlider(), time);
    }


    function sliderButton1() {

        $("#slider-2").fadeOut(400);
        $("#slider-1").delay(400).fadeIn(400);
        $("#sButton2").removeClass("bg-purple-800");
        $("#sButton1").addClass("bg-purple-800");
        reinitLoop(4000);
        cont = 0
    }

    function sliderButton2() {
        $("#slider-1").fadeOut(400);
        $("#slider-2").delay(400).fadeIn(400);
        $("#sButton1").removeClass("bg-purple-800");
        $("#sButton2").addClass("bg-purple-800");
        reinitLoop(4000);
        cont = 1
    }

    $(window).ready(function () {
        $("#slider-2").hide();
        $("#sButton1").addClass("bg-purple-800");

        loopSlider();
    });

</script>