{% extends 'base.html.twig' %}
{% set page_title = 'app.wishlist.page_title'|trans %}

{% block body %}
    <div class="min-h-screen bg-gray-300">
    <div class="py-12 px-5 ">
        <div class="w-full mx-auto bg-gray-100 shadow-lg rounded-lg md:max-w-5xl">

            <div class="w-full flex justify-center items-center py-5">
                {% for flashError in app.flashes('error') %}
                    <div class="alert alert-danger w-full max-w-lg text-center" role="alert">{{ flashError }}</div>
                {% endfor %}
            </div>

            <div class="md:flex ">
                <div class="w-full p-4 px-5 py-5">
                    <div class="flex flex-col lg:flex-row">
                        <div class="w-full p-5 flex flex-col justify-between">
                            <div class="w-full">
                                <div class="w-full flex justify-between flex-wrap items-baseline">
                                    <h1 class="text-xl font-medium ">
                                        {{ 'app.wishlist.Wish List'|trans }}
                                    </h1>
                                    <h1 class="font-medium">
                                        {{ 'app.entities.cart.credit'|trans }}:

                                        <span class={{ app.user.credit > 0 ? "text-blue-700" : "text-red-700" }}>
                                                {{ app.user.credit | price }}
                                            </span>

                                    </h1>
                                </div>

                                {% if listItems | length > 0 %}
                                    {% for listItem in listItems %}
                                        {% include 'components/cards/components/cards/_wishlist_card.html.twig' %}
                                    {% endfor %}
                                {% else %}
                                    <h1 class="alert alert-info text-center w-full my-5">
                                        {{ 'app.wishlist.Your List is Empty'|trans }}
                                    </h1>
                                {% endif %}
                            </div>

                            <div class="flex justify-between items-center mt-6 pt-6 border-t">
                                <div class="flex items-center"><i class="fa fa-arrow-left text-sm pr-2"></i>
                                    <a href="{{ path('shop') }}" class="text-md font-medium text-blue-500">
                                        {{ 'app.cart.continue_shopping'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}

        {# Tooltip #}
        <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@4"></script>
        <script>
            //Init tooltips
            tippy('.product_desc')
        </script>
    {% endblock %}
{% endblock %}