{% macro thead(names) %}
    <thead>
    <tr class="font-bold">
        <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">

        </th>
        {% for name in names %}
            <th class="px-3 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                {{ name }}
            </th>
        {% endfor %}
    </tr>
    </thead>
{% endmacro %}


<div class="antialiased font-sans bg-gray-200">
    <div class="container mx-auto px-4 sm:px-8">
        <div class="py-8">
            <div>
                <h2 class="text-2xl font-semibold leading-tight">
                    {{ 'app.profile.checked_out.table.title'|trans }}
                </h2>
            </div>
{#            <div class="my-2 flex sm:flex-row flex-col">#}
{#                <div class="flex flex-row mb-1 sm:mb-0">#}
{#                    <div class="relative">#}
{#                        <select class="appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight#}
{#                     focus:outline-none focus:bg-white focus:border-gray-500">#}
{#                            <option>5</option>#}
{#                            <option>10</option>#}
{#                            <option>20</option>#}
{#                        </select>#}
{#                        <div#}
{#                                class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">#}
{#                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">#}
{#                                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>#}
{#                            </svg>#}
{#                        </div>#}
{#                    </div>#}

{#                </div>#}
{#                <div class="block relative">#}
{#                    <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">#}
{#                        <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">#}
{#                            <path#}
{#                                    d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">#}
{#                            </path>#}
{#                        </svg>#}
{#                    </span>#}
{#                    <input placeholder="{{ 'app.profile.checked_out.table.search'|trans }}"#}
{#                           class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b#}
{#                        block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white#}
{#                        focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"/>#}
{#                </div>#}
{#            </div>#}


            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-x-auto">
                    <table class="min-w-full leading-normal">

                        {{ _self.thead([
                            'app.profile.checked_out.table.product_name'|trans,
                            'app.profile.checked_out.table.brand'|trans,
                            'app.profile.checked_out.table.model'|trans,
                            'app.profile.checked_out.table.color'|trans,
                            'app.profile.checked_out.table.size'|trans,
                            'app.profile.checked_out.table.quantity'|trans,
                            'app.profile.checked_out.table.item_price'|trans,
                            'app.profile.checked_out.table.checked_out_date'|trans,
                            'app.profile.checked_out.table.discount'|trans,
                            'app.profile.checked_out.table.total_price'|trans
                        ]) }}


                        {% if checkedCartItems | length > 0 %}
                            <tbody class="w-full">
                            {% for checkedItem in checkedCartItems %}
                                <tr class="text-center text-gray-800 font-semibold">
                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm ml-4">
                                        <div style="min-width: 6rem;"
                                             class="text-gray-900 flex justify-content-center whitespace-no-wrap text-center -align-center">
                                            <img class=" rounded-full w-16 h-16 border-2 border-gray-200"
                                                 src="/uploads/products/{{ checkedItem.product.image }}"
                                                 alt=""/>
                                        </div>
                                    </td>
                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm ml-2">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.product.name }}
                                        </p>
                                    </td>
                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">{{ checkedItem.product.brand }}</p>
                                    </td>
                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.product.model }}
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.product.color }}
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.product.size }}
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.quantity }}
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.product.price | price }}
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.checkedOutDate | date }}
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.product.discount.discountPercent }}%
                                        </p>
                                    </td>

                                    <td class="px-2 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ checkedItem.totalPrice | price }}
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% else %}
                            <div class="alert alert-info w-full my-5 text-center max-w-4xl mx-auto">
                                {{ 'app.profile.checked_out.table.no_item_exist'|trans }}
                            </div>
                        {% endif %}
                    </table>
{#                     <div class="px-5 py-5 bg-white border-t mt-0 flex flex-col xs:flex-row items-center xs:justify-between          ">#}
{#                     <span class="text-xs xs:text-sm text-gray-900">#}
{#                     Showing 1 to 4 of 50 Entries#}
{#                     </span>#}
{#                     <div class="inline-flex mt-2 xs:mt-0">#}
{#                     <button#}
{#                     class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-l">#}
{#                     {{ 'app.profile.checked_out.table.prev'|trans }}#}
{#                     </button>#}
{#                     <button#}
{#                     class="text-sm bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded-r">#}
{#                     {{ 'app.profile.checked_out.table.next'|trans }}#}
{#                     </button>#}
{#                     </div>#}
{#                     </div>#}
                </div>
            </div>
        </div>
    </div>
</div>