<li class="nav-item mr-4">
    <a class="nav-link" href="{{ path('home') }}">
        {{ 'app.nav.links.home'|trans }}
    </a>
</li>

<li class="nav-item mr-4">
    <a class="nav-link" href="{{ path('shop') }}">
        {{ 'app.nav.links.shop'|trans }}
    </a>
</li>

<li class="nav-item mr-4">
    <a class="nav-link" href="{{ path('contact') }}">
        {{ 'app.nav.links.contact'|trans }}
    </a>
</li>

<li class="nav-item mr-4">
    <a class="nav-link" href="{{ path('about') }}">
        {{ 'app.nav.links.about'|trans }}
    </a>
</li>